services:
  mysql:
    container_name: product_mysql
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: product
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - mysql
    restart: unless-stopped
  phpmyadmin:
    container_name: product_phpmyadmin
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - 8484:80
    networks:
      - mysql
    restart: unless-stopped
networks:
  mysql:
    driver: bridge
volumes:
  mysql_data: